<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
    <link rel="stylesheet" href="/css/signUp.css">
    <link rel="stylesheet" th:href="@{/css/signUp.css}">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<body>
<form th:action th:object="${userInfo}" th:method="post" name="form">
    <div id="join">
        <h1>회원가입</h1>
        <table>
            <tr>
                <td>ID</td>
                <td>
                    <label>
                        <input type="text" th:name="id" th:field="*{id}" th:errorclass="field-error">

                        <div class="field-error" th:if="${mangerInfo.getNumber()!=null}">
                            <div th:errorclass="field-error" th:errors="${mangerInfo.id}">
                                id 오류
                            </div>
                        </div>

                        <div class="field-error" th:errors="*{id}">
                            id 오류
                        </div>

                    </label>
                </td>
            </tr>

            <tr>
                <td>비밀번호</td>
                <td>
                    <label>
                        <input type="password" th:name="password" th:field="*{password}" th:errorclass="field-error">
                        <div class="field-error" th:errors="*{password}">
                            password 오류
                        </div>
                    </label>
                </td>
            </tr>
            <tr>
                <td>비밀번호 확인</td>
                <td><label>
                    <input type="password" th:field="*{password}">
                </label></td>
            </tr>
            <tr>
                <td>관리자입니까?</td>
                <td>
                    <label>
                        <input type="checkbox" name="checkbutton" onclick="f_check()">
                    </label>
                </td>
            </tr>
            <tr>
                <td>관리자 번호</td>
                <td>
                    <label>
                        <input type="text" name="textbox" th:field="${mangerInfo.number}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>e-mail</td>
                <td>
                    <label>
                        <input type="text" id="email" name="email" th:field="*{email}" th:errorclass="field-error">
                        <input type="button" id="request" value="인증번호 전송" >
                            <div class="field-error" th:errors="*{email}">
                                email 오류
                            </div>
                        </input>
                    </label>
                </td>
            </tr>
            <tr>
                <td>e-mail 인증번호</td>
                <td>
                    <label>
                        <input type="text" name="emailCheck" th:field="${userInfo.joinCode}" th:errorclass="field-error">
                        <input type="submit" value="인증확인">
                        <div class="field-error" th:errors="${userInfo.joinCode}">
                            인증번호 오류
                        </div>
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="answer">
                    <input type="button" value="메인페이지로 나가기" th:onclick="|location.href='@{/MainPage}'|">
                    <input type="submit" value="가입하기">
                </td>
            </tr>
        </table>
        <script src="/js/signUp.js" charset="utf-8"></script>
    </div>
</form>
<script>
    $('#request').click(function () {
        var data = $("#email");
        // ajax 통신
        $.ajax({
            type: "POST",                  // HTTP method type(GET, POST) 형식이다.
            url: "/Join/emailCertification",      // 컨트롤러에서 대기중인 URL 주소이다.
            data: data,              // 데이터
            success: function (res) {      // 비동기통신의 성공일경우 success콜백으로 들어옵니다. 'res'는 응답받은 데이터이다.
                // 응답코드 > 0000
                alert("메일함을 확인해 주세요");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                alert("통신 실패.")
            }
        });
    });
</script>
</body>
</html>