<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>manager Movie Upload</title>
    <link rel="stylesheet" href="/css/managerUpload.css">
    <link rel="stylesheet" th:href="@{/css/managerUpload.css}">
</head>
<body>
<form th:action th:method="post" th:object="${movieInfo}" enctype="multipart/form-data">
    <h1>관리자 영화 등록 페이지</h1>
    <table>
        <tr>
            <td>영화 이름 : </td>
            <td>
                <label>
                    <input type="text" th:name="movieName" th:field="*{movieName}">
                </label>
            </td>
        </tr>
        <tr>
            <td>포스터 사진 : </td>
            <td>
                <input type="file"  accept="image/*" th:name="moviePoster" >
            </td>
        </tr>
        <tr>
            <td>개봉연도 : </td>
            <td>
                <label>
                    <input type="text" th:name="openYear" th:field="*{openYear}">
                </label>
            </td>
        </tr>
        <tr>
            <td>감독 이름 : </td>
            <td>
                <label>
                    <input type="text" th:name="directorName" th:field="*{directorName}">
                </label>
            </td>
        </tr>
        <tr>
            <td>줄거리 : </td>
            <td>
                <label>
                    <input type="text" th:name="storyLine" th:field="*{storyLine}">
                </label>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" value="메인페이지로 나가기" th:onclick="|location.href='@{/MainPage}'|">
                <input type="submit" value="등록하기">
            </td>
        </tr>
    </table>
</form>
</body>
</html>