<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>manager Pw Change</title>
    <link rel="stylesheet" href="/css/managerPwChange.css">
    <link rel="stylesheet" th:href="@{/css/managerPwChange.css}">
</head>
<body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<h1>관리자 마이페이지</h1>
<form th:action method="post" th:object="${mangerInfo}" name="form">
    <div class="content">
        <div class="ID">아이디</div>
        <div th:name="id" th:text="*{id}" class="IDWrote">ID</div><!--관리자의 아이디가 보여야함-->

        <div class="PW">기존 비밀번호</div>
        <text th:text="*{password}" class="PWWrote"></text>

        <div class="NewPW">바꿀 비밀번호</div>
        <input type="password" th:field="*{password}" class="NewPWWrote"><!--새로운 비밀번호 입력창-->

        <div class="NewPWAgain">바꿀 비밀번호 확인</div>
        <input type="password" class="NewPWAgainWrote">

        <div class="movieDelete">삭제할 영화이름 입력</div>
        <input type="text" id="movieName">
        <input type="button" id="deleteMovie" value="영화 삭제">
    </div>
    <div class="answer">
        <input type="submit" value="비밀번호 변경하기">
        <input type="button" value="영화 등록하기" th:onclick="|location.href='@{/Upload}'|">
        <input type="button" value="나가기" th:onclick="|location.href='@{/}'|">
    </div>
</form>
<form th:action="@{/MyPage/delete}" th:method="post" class="answer">
    <input type="submit" value="회원 탈퇴하기">
</form>
<script>
    $('#deleteMovie').click(function () {
        const sendData = {
            'deleteName': $("#movieName").val()
        }
        // ajax 통신
        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "/DeleteMovie",
            data: sendData,
            success: function (movieOriName) {
                console.log("첫번째"+movieOriName);
                var checkData = new Object();
                const splitResult = movieOriName.toString().split(",");
                for(let i = 0; i < splitResult.length; i++){
                    checkData[i] = splitResult[i];
                    console.log("i 추가중"+splitResult[i]);
                }
                console.log("객체생성완료"+checkData[0]+checkData[1])

                // ajax 통신
                $.ajax({
                    type: "GET",
                    dataType: 'json',
                    url: "/DeleteMovie/DeleteCheck",
                    data: checkData,
                    success: function (movies) {
                        alert("여기까지" + movies[0]+movies[1])
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("통신 실패." + XMLHttpRequest + textStatus + errorThrown);
                    }
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("통신 실패." + XMLHttpRequest + textStatus + errorThrown);
            }
        });
    });
</script>
</body>
</html>