<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user Pw Change</title>
    <link rel="stylesheet" th:href="@{/css/userPwChange.css}">
</head>
<body>
<h>내 정보</h>
<form th:action method="post" th:object="${userInfo}" name="form">
    <input type="hidden" name="_method" value="PATCH"/>
    <table>
        <tr>
            <td th:name="id" th:text="*{id}">ID</td><!--사용자의 아이디가 보여야함-->
        </tr>
        <tr>
            <td>기존 비밀번호</td>
            <td><label>
                <text th:text="*{password}"></text>
            </label></td>
        </tr>
        <tr>
            <td>바꿀 비밀번호</td>
            <td><label>
                <input type="password" th:field="*{password}"><!--새로운 비밀번호 입력창-->
            </label></td>
        </tr>
        <tr>
            <td>바꿀 비밀번호 확인</td>
            <td><label>
                <input type="password" >
            </label></td>
        </tr>
    </table>
    <input type="submit" value="비밀번호 변경하기">
    <input type="button" value="메인페이지로 나가기" th:onclick="|location.href='@{/}'|">
    <input type="button" value="내가 작성했던 리뷰 전체 조회하기" th:onclick="|location.href='@{/MyReview}'|">
</form>
<form th:action="@{/MyPage/delete}" th:method="post">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="회원 탈퇴하기">
</form>
</body>
</html>