<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user Pw Change</title>
    <link rel="stylesheet" href="../../static/css/userPwChange.css">
</head>
<body>
<form action="#" method="post">
    <table>
        <tr>
            <td>ID</td><!--사용자의 아이디가 보여야함-->
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><label>
                <input type="password">
            </label></td>
        </tr>
        <tr>
            <td>바꿀 비밀번호</td>
            <td><label>
                <input type="password"><!--새로운 비밀번호 입력창-->
            </label></td>
        </tr>
        <tr>
            <td>바꿀 비밀번호 확인</td>
            <td><label>
                <input type="password">
            </label></td>
        </tr>
    </table>
    <input type="button" value="비밀번호 변경하기">
    <input type="button" value="나가기">
    <input type="button" value="회원 탈퇴하기">
</form>
</body>
</html>