<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>검색결과</title>
</head>
<body>
검색결과
<th:block th:each="searchMovies : ${SerachResult}">
    <div>
        <img class="moviePoster" th:onclick="goMoviePage([[${searchMovies.photoOriName}]])" th:src="@{/moviePhoto/}+${searchMovies.photoOriName}">
        <h3 th:text="${searchMovies.movieName}" th:onclick="goMoviePage([[${searchMovies.photoOriName}]])"></h3>
    </div>
</th:block>

<a href="/">메인페이지로 나가기</a>
<script th:src="@{/js/SearchFunc/SearchFunc.js}"></script>
</body>
</html>