input:focus {
    outline:none;
}
.field-error {
    border-color: #dc3545;
    color: #dc3545;
}
body{
    width: 400px; height: 380px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    box-shadow: 5px 5px 3px rgba(117, 93, 104, 0.5);
}
h1{
    text-align: center;
    margin: 20px 0 40px 0;
}
.text{
    height: 22px;
    border-radius: 20px;
}
.text:focus{
    box-shadow: 0 0 10px 2px rgba(117, 93, 104, 0.4);
}
.ID{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ID p{
    margin-right: 26px;
}
.PW {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.PW p{
    margin-right: 10px;
}
.answer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.answer input{
    width: 150px;
    margin-bottom: 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.answer input:hover{
    color: #F2838F;
    border-bottom: 3px solid #F2838F;
    transition: all 250ms ease;
}