*{
    margin: 0 auto;
    overflow-x: hidden;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 300px;
    background: #cff09e;
    margin-bottom: 30px;
}
.title{
    text-align: center;
    width: 100%;
    font-size: 3em;
    margin-bottom: 30px;
}
.title h1{
    height: 70px;
}
.Info{
    display: flex;
    width: 70%;
    align-items: baseline;
}
.input-group.mb-3{
    width: 50%;
    margin: 10px;
}

#columns{

}
/*#columns figure{*/
/*    display: inline-block;*/
/*    margin: 0;*/
/*    margin-bottom: 15px;*/
/*    padding: 5px;*/
/*}*/
#columns img{
    width: 100%;
}

.page_move{
    display: flex;
}
.page_move .pagination{
    align-items: baseline;
}