<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="/css/LogIn.css">
    <link rel="stylesheet" th:href="@{/css/LogIn.css}">
</head>
<body>
<form th:action th:object="${userinfo}" method="post">
    <h1>로그인 창</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>
                <label>
                    <input type="text"
                    th:name="id"
                    th:field="*{id}"
                    th:errorclass="field-error">
                    <div class = "field-error" th:errors="*{id}">
                        id 오류
                    </div>
                </label>
            </td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td>
                <label>
                    <input type="password"
                    th:name="password"
                    th:field="*{password}"
                    th:errorclass="field-error">
                    <div class="field-error" th:errors="*{password}">

                    </div>
                </label>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="answer">
                <input type="button" value="메인페이지로 나가기" th:onclick="|location.href='@{/MainPage}'|">
                <input type="submit" value="로그인하기">
            </td>
        </tr>
    </table>
</form>
</body>
</html>