<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="/css/LogIn.css">
    <link rel="stylesheet" th:href="@{/css/LogIn.css}">
</head>
<body>
    <form th:action th:object="${loginForm}" method="post">
        <h1>로그인</h1>
        <div th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div class="ID">
            <p>아이디</p>
            <input type="text" th:name="id" th:field="*{id}" th:errorclass="field-error" class="text">
            <div class = "field-error" th:errors="*{id}">
                id 오류
            </div>
        </div>
        <div class="PW">
            <p>비밀번호</p>
                <input type="password" th:name="password" th:field="*{password}" th:errorclass="field-error" class="text">
                <div class="field-error" th:errors="*{password}">
                </div>
        </div>

        <div class="answer">
            <input type="submit" value="로그인하기">
            <a href="Join">회원가입하기</a>
            <input type="button" value="메인페이지로 나가기" th:onclick="|location.href='@{/}'|">
        </div>
    </form>
</body>
</html>