<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>
<body>
영화제목을 입력해 주세요
<input type="text" id="movieName" name="movieName" th:field="${movieInfo.movieName}">
<input type="button" id="movieView" value="영화조회">
</br>
</br>
<!--<img id="moviePoster" th:src="${photoPath}">-->
<h3 name="movieName" th:text="${oneMovieInfo.getMovieName()}"></h3>
<h3 name="movieDirector" th:text="${oneMovieInfo.getDirectorName()}"></h3>
<h3 name="openYear" th:text="${oneMovieInfo.getOpenYear()}"></h3>
<h3 name="StoryLine" th:text="${oneMovieInfo.getStoryLine()}"></h3>
<!-- 모든리뷰 정보 -->
<th:block th:each="reviews : ${AllReviewInfo}">
    리뷰단사람 id : <span th:text="${reviews.reviewUser}"></span>
    </br>
    </br>
    리뷰 본문     : <span th:text="${reviews.movieReivew}"></span>
    </br>
    </br>
    영화 점수     : <span th:text="${reviews.moviePoint}"></span>
    </br>
    </br>
</th:block>


<div>
    <div class="field-error" th:field="${ReviewInfo.reviewUser}" th:errors="${ReviewInfo.reviewUser}">
        로그인 오류
    </div>
    <td>리뷰작성</td>
    <td>
        <label>
            <input th:type="text" th:field="${ReviewInfo.movieReivew}" th:name="movieReivew" id = "movieReivew" th:errorclass="field-error">
            <div class="field-error" th:errors="${ReviewInfo.movieReivew}">
                리뷰작성 오류
            </div>
        </label>
    </td>

    <td>점수작성</td>
    <td>
        <label>
            <input th:type="text" th:field="${ReviewInfo.moviePoint}" th:name ="moviePoint" id = "moviePoint"  th:errorclass="field-error">
            <div class="field-error" th:errors="${ReviewInfo.moviePoint}">
                점수작성 오류
            </div>
        </label>
    </td>

    <input type="button" value="리뷰작성하기"  id="reviewUpload" onclick="window.location.reload()">
</div>

<div>
    <!-- 요소들 append 들어갈 부분 -->
</div>
<input type="button" value="메인페이지로 나가기" th:onclick="|location.href='@{/}'|">
<script>

    $('#movieView').click(function () {
        const data = $("#movieName");
        $.ajax({
            type: "POST",
            url: "/oneMovie/viewOneMovie",
            data: data,
            success: function (jpaMovieInfos) {
                $('div').empty(); // append결과 초기화
                for (const i in jpaMovieInfos) {

                    $('div').append('<img id="moviePoster" src="' + jpaMovieInfos[i].photoUri + '" onclick="goEachMovieInfo(' + jpaMovieInfos[i].movieName + ');">');
                    $('div').append('<h3 th:type="hidden" name="movieName" onclick="goEachMovieInfo(' + jpaMovieInfos[i].movieName + ');" >' + jpaMovieInfos[i].movieName + '</h3>');


                    // $('div').append('<h3 th:type="hidden" name="storyLine">' + jpaMovieInfos[i].storyLine + '</h3>');
                    // $('div').append('<h3 th:type="hidden" name="openYear" >' + jpaMovieInfos[i].openYear + '</h3>');
                    // $('div').append('<h3 th:type="hidden" name="directorName" >' + jpaMovieInfos[i].directorName + '</h3>');
                    // $('div').append('<h3 th:type="hidden" name="moviePoint" >' + jpaMovieInfos[i].moviePoint + '</h3>');
                    // $('div').append('<h3 th:type="hidden" name="directorName" >' + jpaMovieInfos[i].movieReview + '</h3>');
                    //
                    // $('div').append('<input th:type="text" id = "movieReivew">리뷰작성칸');
                    // $('div').append('<input th:type="text" id = "moviePoint"> 평점');
                    // $('div').append('<input type="button" value="리뷰작성하기"  id="reviewUpload">')

                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("통신 실패.")
            }
        });
    });

    // 리뷰업로드부분
    $('#reviewUpload').click(function () {
        // json 형식으로 데이터 set
        var params = {
            movieReivew : $("#movieReivew").val()
            ,moviePoint : $("#moviePoint").val()
        }
        $.ajax({
            type:"GET",
            url: "/EachMovie/reviewUpload",
            data:params,
            success: function (result) {
                if(result ===  1){
                    alert("리뷰업로드가 완료되었습니다.");
                }else{
                    alert("리뷰업로드가 실패했습니다.");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("통신 실패.");
            }
        });
    });


</script>
</body>
</html>