<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<body>
영화제목을 입력해 주세요
<input type="text" id="movieName" name="movieName" th:field="${movieInfo.movieName}">
<input type="button" id="movieView" value="영화조회">
</br>
</br>
<div>
    <!-- 요소들 append 들어갈 부분 -->
</div>
<input type="button" value="메인페이지로 나가기" th:onclick="|location.href='@{/}'|">
<script charset="utf-8">
    window.test = function(photoOriName){
        const newWindow = window.open("about:blank");
        newWindow.location.href="/EachMovie/getMovieInfo?photoOriName="+photoOriName;
    };

    $('#movieView').click(function () {
        var data = $("#movieName");
        $.ajax({
            type: "POST",
            url: "/oneMovie/viewOneMovie",
            data: data,
            success: function (jpaMovieInfos) {
                $('div').empty(); // append결과 초기화
                for (const i in jpaMovieInfos) {
                    const value = jpaMovieInfos[i].photoUri;
                    $('div').append('<img id="moviePoster" src="' + jpaMovieInfos[i].photoUri + '" >');
                    $('div').append('<h3 onclick="test(\''+value+'\')" type="hidden" name="movieName" id="goEachMovieInfo" >' + jpaMovieInfos[i].movieName + '</h3>');
                    // String 값을 전달해주기 위해 정규표현식 사용
                    // \'' + value + '\'

                    // $('div').append('<h3 th:type="hidden" name="storyLine">'+jpaMovieInfos[i].storyLine+'</h3>');
                    // $('div').append('<h3 th:type="hidden" name="openYear" >'+jpaMovieInfos[i].openYear+'</h3>');
                    // $('div').append('<h3 th:type="hidden" name="directorName" >'+jpaMovieInfos[i].directorName+'</h3>');
                    // $('div').append('<h3 th:type="hidden" name="moviePoint" >'+jpaMovieInfos[i].moviePoint+'</h3>');
                    // $('div').append('<h3 th:type="hidden" name="directorName" >'+jpaMovieInfos[i].movieReview+'</h3>');

                    // $('div').append('<input th:type="text" id = "movieReivew">리뷰작성칸');
                    // $('div').append('<input th:type="text" id = "moviePoint"> 평점');
                    // $('div').append('<input type="button" value="리뷰작성하기"  id="reviewUpload">')

                    // $('#reviewUpload').click(function () {
                    //     // json 형식으로 데이터 set
                    //     var params = {
                    //         movieReivew : $("#movieReivew").val()
                    //         ,moviePoint : $("#moviePoint").val()
                    //     }
                    //     $.ajax({
                    //         type:"GET",
                    //         url: "/oneMovie/reviewUpload",
                    //         data:params,
                    //         success: function (result) {
                    //             if(result ===  1){
                    //                 alert("리뷰업로드가 완료되었습니다.");
                    //             }else{
                    //                 alert("리뷰업로드가 실패했습니다.");
                    //             }
                    //         },
                    //         error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //             alert("통신 실패.");
                    //         }
                    //     });
                    // });

                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("통신 실패.");
            }
        });
    });

</script>
</body>
</html>