<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<body>
영화제목을 입력해 주세요
<input type="text" id="movieName" name="movieName" th:field="${movieInfo.movieName}">
<input type="button" id="movieView" value="영화조회">
</br>
</br>
<div>
 <!-- 요소들 들어갈 부분 -->
</div>
<input type="button" value="메인페이지로 나가기" th:onclick="|location.href='@{/MainPage}'|">
<script>
    $('#movieView').click(function () {
        var data = $("#movieName");
        $.ajax({
            type: "POST",
            url: "/oneMovie/viewOneMovie",
            data: data,
            success: function (jpaMovieInfos) {
                $('div').empty(); // append결과 초기화
                for (var i in jpaMovieInfos) {

                    $('div').append('<img id="moviePoster" src="'+jpaMovieInfos[i].photoUri+'">');
                    $('div').append('<h3 th:type="hidden" name="movieName" >'+jpaMovieInfos[i].movieName+'</h3>');
                    $('div').append('<h3 th:type="hidden" name="storyLine">'+jpaMovieInfos[i].storyLine+'</h3>');
                    $('div').append('<h3 th:type="hidden" name="openYear" >'+jpaMovieInfos[i].openYear+'</h3>');
                    $('div').append('<h3 th:type="hidden" name="directorName" >'+jpaMovieInfos[i].directorName+'</h3>');


                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("통신 실패.")
            }
        });
    });
</script>
</body>
</html>